Demos-20483-master/Demos-20483-master/CadastroDeClientes/CadastroDeClientes.WPF/Service References/ClientesServiceReference/ClientestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4972/ClientesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4972/ClientesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4972/ClientesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CadastroDeClientes.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientesService_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IClientesService_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IClientesService_AddCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCliente" />
  </wsdl:message>
  <wsdl:message name="IClientesService_AddCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientesService">
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/GetClientes" message="tns:IClientesService_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/GetClientesResponse" message="tns:IClientesService_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientesService/AddCliente" message="tns:IClientesService_AddCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientesService/AddClienteResponse" message="tns:IClientesService_AddCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientesService" type="tns:IClientesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IClientesService/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCliente">
      <soap:operation soapAction="http://tempuri.org/IClientesService/AddCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientestService">
    <wsdl:port name="BasicHttpBinding_IClientesService" binding="tns:BasicHttpBinding_IClientesService">
      <soap:address location="http://localhost:4972/ClientesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>